/*

--- Custom CSS for Weekly Rap ---

*/

body { 
	/*background-color: #000;*/
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.banner {
	background-color: #000;
	border: none;
	margin-bottom: 0;
}
.btn-primary {
	padding: 10px 40px;
}
.top-header {
	background: #ffffff url(../images/header-bg.jpg) repeat-x;
    line-height: 15px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
}
.top-header span {
    background-color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
}

header { }
.banner a {
	color: #FFF !important;
}
/*Home page and Interior page banners*/
.hero-wrap { }

.header-wrap {
	background: url(../images/header_img.jpg);
	-webkit-background: url(../images/header_img.jpg);
	-moz-background: url(../images/header_img.jpg);
	background-size: cover;
	/*padding-top: 50px;*/
	padding-bottom: 275px;
	margin-bottom: 25px;
}

.interior-banner-wrap {
	background-color: #2c2c2c;
	color: #FFF;
}

h2.front-banner,
h2.banner {
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.wrap { 
	padding-bottom: 20px;
}


/*Global Main Styles*/
.main { }
.page-header {
	margin-top: 0;
	margin-bottom: 0;
}

/*Front Page Styles*/
body .page-header {
	display: none;
}
.front-intro {
	font-size: 18px;
	line-height: 22px;
}



aside { }



/*Page Specific*/


/*About Us Page*/
body.about .left {
	padding-left: 0;
}


/*Form Styles*/
body.contact-us input[type="text"],
body.contact-us input[type="email"],
body.contact-us textarea {
	width: 100%;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
body.contact-us input[type="text"],
body.contact-us input[type="email"] {
	height: 40px;
}
.footer-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2c2c2c;
	color: #FFF;
}


@media( min-width: 992px ) {
	#menu-primary-navigation {
		float: right;
	}
}